<?xml version='1.0' encoding='utf-8'?>
<robot name="giava">
  <material name="black">
    <color rgba="0.15 0.15 0.15 1" />
  </material>
  <link name="base" />
  <link name="rightbase_link">
    <inertial>
      <origin xyz="-0.053477 -0.000563 0.020596" rpy="0.000000 0.000000 0.000000" />
      <mass value="0.969034" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 1.570796" />
      <geometry>
        <mesh filename="aloha_assets/vx300s_1_base.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="black">
        <color rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 1.570796" />
      <geometry>
        <mesh filename="aloha_assets/vx300s_1_base.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <joint name="base_rightbase_link_fixed" type="fixed">
    <parent link="base" />
    <child link="rightbase_link" />
    <origin xyz="-0.469000 -0.019000 0.020000" rpy="0.000000 0.000000 0.000000" />
  </joint>
  <link name="rightshoulder_link">
    <inertial>
      <origin xyz="0.000259 -0.000003 0.011613" rpy="0.000000 0.000000 0.000000" />
      <mass value="0.798614" />
      <inertia ixx="0.001137998" iyy="0.000938800" izz="0.001201002" ixy="0.000000001"
        ixz="-0.000005957" iyz="-0.000000019" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 -0.003000" rpy="0.000000 0.000000 1.570796" />
      <geometry>
        <mesh filename="aloha_assets/vx300s_2_shoulder.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="black">
        <color rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 -0.003000" rpy="0.000000 0.000000 1.570796" />
      <geometry>
        <mesh filename="aloha_assets/vx300s_2_shoulder.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <joint name="rightwaist" type="revolute">
    <parent link="rightbase_link" />
    <child link="rightshoulder_link" />
    <origin xyz="0.000000 0.000000 0.079000" rpy="0.000000 0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 1.000000" />
    <dynamics damping="5.760000" />
    <limit lower="-3.141580" upper="3.141580" velocity="3.141592653589793"/>
  </joint>
  <link name="rightupper_arm_link">
    <inertial>
      <origin xyz="0.020695 0.000000 0.226459" rpy="0.000000 0.000000 0.000000" />
      <mass value="0.792592" />
      <inertia ixx="0.008936997" iyy="0.008925000" izz="0.000935700" ixy="0.000000000"
        ixz="-0.001201000" iyz="0.000000000" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 1.570796" />
      <geometry>
        <mesh filename="aloha_assets/vx300s_3_upper_arm.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="black">
        <color rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 1.570796" />
      <geometry>
        <mesh filename="aloha_assets/vx300s_3_upper_arm.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <joint name="rightshoulder" type="revolute">
    <parent link="rightshoulder_link" />
    <child link="rightupper_arm_link" />
    <origin xyz="0.000000 0.000000 0.048050" rpy="0.000000 0.000000 0.000000" />
    <axis xyz="0.000000 1.000000 0.000000" />
    <dynamics damping="20.000000" friction="2.000000" />
    <limit lower="-1.850050" upper="1.256640" velocity="3.141592653589793"/>
  </joint>
  <link name="rightupper_forearm_link">
    <inertial>
      <origin xyz="0.105723 0.000000 0.000000" rpy="0.000000 0.000000 0.000000" />
      <mass value="0.322228" />
      <inertia ixx="0.000152400" iyy="0.001342002" izz="0.001440996" ixy="-0.000018830"
        ixz="-0.000008407" iyz="0.000001256" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000" />
      <geometry>
        <mesh filename="aloha_assets/vx300s_4_upper_forearm.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="black">
        <color rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000" />
      <geometry>
        <mesh filename="aloha_assets/vx300s_4_upper_forearm.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <joint name="rightelbow" type="revolute">
    <parent link="rightupper_arm_link" />
    <child link="rightupper_forearm_link" />
    <origin xyz="0.059550 0.000000 0.300000" rpy="0.000000 0.000000 0.000000" />
    <axis xyz="0.000000 1.000000 0.000000" />
    <dynamics damping="18.490000" friction="1.150000" />
    <limit lower="-1.762780" upper="1.605700" velocity="3.141592653589793"/>
  </joint>
  <link name="rightlower_forearm_link">
    <inertial>
      <origin xyz="0.051348 0.006805 0.000000" rpy="0.000000 0.000000 0.000000" />
      <mass value="0.414823" />
      <inertia ixx="0.000175300" iyy="0.000526900" izz="0.000591100" ixy="0.000085280"
        ixz="0.000000000" iyz="0.000000000" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="3.141593 0.000000 0.000000" />
      <geometry>
        <mesh filename="aloha_assets/vx300s_5_lower_forearm.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="black">
        <color rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="3.141593 0.000000 0.000000" />
      <geometry>
        <mesh filename="aloha_assets/vx300s_5_lower_forearm.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <joint name="rightforearm_roll" type="revolute">
    <parent link="rightupper_forearm_link" />
    <child link="rightlower_forearm_link" />
    <origin xyz="0.200000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000" />
    <axis xyz="1.000000 0.000000 0.000000" />
    <dynamics damping="6.780000" />
    <limit lower="-3.141580" upper="3.141580" velocity="3.141592653589793"/>
  </joint>
  <link name="rightwrist_link">
    <inertial>
      <origin xyz="0.046743 -0.000008 0.010565" rpy="0.000000 0.000000 0.000000" />
      <mass value="0.115395" />
      <inertia ixx="0.000045140" iyy="0.000046310" izz="0.000052700" ixy="-0.000000020"
        ixz="-0.000004200" iyz="0.000000002" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 1.570796" />
      <geometry>
        <mesh filename="aloha_assets/vx300s_6_wrist.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="black">
        <color rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 1.570796" />
      <geometry>
        <mesh filename="aloha_assets/vx300s_6_wrist.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <joint name="rightwrist_angle" type="revolute">
    <parent link="rightlower_forearm_link" />
    <child link="rightwrist_link" />
    <origin xyz="0.100000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000" />
    <axis xyz="0.000000 1.000000 0.000000" />
    <dynamics damping="6.280000" />
    <limit lower="-1.867500" upper="2.234020" velocity="3.141592653589793"/>
  </joint>
  <link name="rightgripper_link">
    <inertial>
      <origin xyz="0.039566 -0.000000 0.004006" rpy="0.000000 0.000000 0.000000" />
      <mass value="0.251652" />
      <inertia ixx="0.000661680" iyy="0.000468142" izz="0.000678182" ixy="0.000000002"
        ixz="0.000017795" iyz="0.000000134" />
    </inertial>
  </link>
  <joint name="rightwrist_rotate" type="revolute">
    <parent link="rightwrist_link" />
    <child link="rightgripper_link" />
    <origin xyz="0.069744 0.000000 0.000000" rpy="0.000000 0.000000 0.000000" />
    <axis xyz="1.000000 0.000000 0.000000" />
    <dynamics damping="1.200000" />
    <limit lower="-3.141580" upper="3.141580" velocity="3.141592653589793"/>
  </joint>
  <link name="rightgripper_base">
    <inertial>
      <origin xyz="0.000182 -0.034159 -0.010603" rpy="0.000000 0.000000 0.000000" />
      <mass value="0.421580" />
      <inertia ixx="0.000790482" iyy="0.000503083" izz="0.001071079" ixy="0.000004118"
        ixz="0.000000844" iyz="-0.000141505" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000" />
      <geometry>
        <mesh filename="aloha_assets/vx300s_7_gripper_prop.stl" />
      </geometry>
      <material name="black">
        <color rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000" />
      <geometry>
        <mesh filename="aloha_assets/vx300s_7_gripper_prop.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000" />
      <geometry>
        <mesh filename="aloha_assets/vx300s_7_gripper_bar.stl" />
      </geometry>
      <material name="black">
        <color rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000" />
      <geometry>
        <mesh filename="aloha_assets/vx300s_7_gripper_bar.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.000000 -0.035250 -0.022700" rpy="-3.141593 -1.570796 0.000000" />
      <geometry>
        <mesh filename="aloha_assets/vx300s_7_gripper_wrist_mount.stl" />
      </geometry>
      <material name="black">
        <color rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 -0.035250 -0.022700" rpy="-3.141593 -1.570796 0.000000" />
      <geometry>
        <mesh filename="aloha_assets/vx300s_7_gripper_wrist_mount.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.000000 -0.082475 -0.009595" rpy="0.436333 0.000000 -3.141593" />
      <geometry>
        <mesh filename="aloha_assets/d405_solid.stl" />
      </geometry>
      <material name="black">
        <color rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 -0.082475 -0.009595" rpy="0.436333 0.000000 -3.141593" />
      <geometry>
        <mesh filename="aloha_assets/d405_solid.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="rightgripper_link_rightgripper_base_fixed" type="fixed">
    <parent link="rightgripper_link" />
    <child link="rightgripper_base" />
    <origin xyz="0.035000 0.000000 0.000000" rpy="-1.570000 0.000796 -1.570796" />
  </joint>
  <link name="rightright_finger_link">
    <inertial>
      <origin xyz="0.014348 -0.028479 0.012290" rpy="0.000000 0.000000 0.000000" />
      <mass value="0.086294" />
      <inertia ixx="0.000044678" iyy="0.000019618" izz="0.000057474" ixy="0.000000507"
        ixz="-0.000000169" iyz="0.000006876" />
    </inertial>
    <visual>
      <origin xyz="0.014164 0.021173 0.060000" rpy="1.570796 1.570796 0.000000" />
      <geometry>
        <mesh filename="aloha_assets/vx300s_8_custom_finger_right.stl" />
      </geometry>
      <material name="black">
        <color rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.014164 0.021173 0.060000" rpy="1.570796 1.570796 0.000000" />
      <geometry>
        <mesh filename="aloha_assets/vx300s_8_custom_finger_right.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="rightright_finger" type="prismatic">
    <parent link="rightgripper_base" />
    <child link="rightright_finger_link" />
    <origin xyz="0.019100 -0.014164 0.021173" rpy="-1.570796 0.000000 1.570796" />
    <axis xyz="0.000000 0.000000 -1.000000" />
    <dynamics damping="40.000000" />
    <limit lower="0.000000" upper="0.041000" velocity="3.141592653589793"/>
  </joint>
  <link name="rightleft_finger_link">
    <inertial>
      <origin xyz="0.014371 0.028479 0.012142" rpy="0.000000 0.000000 0.000000" />
      <mass value="0.086293" />
      <inertia ixx="0.000044677" iyy="0.000019616" izz="0.000057474" ixy="-0.000000570"
        ixz="-0.000000048" iyz="-0.000006871" />
    </inertial>
    <visual>
      <origin xyz="0.014164 -0.021173 0.059707" rpy="-1.570796 -1.570796 0.000000" />
      <geometry>
        <mesh filename="aloha_assets/vx300s_8_custom_finger_left.stl" />
      </geometry>
      <material name="black">
        <color rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.014164 -0.021173 0.059707" rpy="-1.570796 -1.570796 0.000000" />
      <geometry>
        <mesh filename="aloha_assets/vx300s_8_custom_finger_left.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="rightleft_finger" type="prismatic">
    <parent link="rightgripper_base" />
    <child link="rightleft_finger_link" />
    <origin xyz="-0.019100 -0.014164 0.021173" rpy="1.570796 0.000000 1.570796" />
    <axis xyz="0.000000 0.000000 -1.000000" />
    <dynamics damping="40.000000" />
    <limit lower="0.000000" upper="0.041000" velocity="3.141592653589793"/>
  </joint>
</robot>